/*---------------VARIABLES------------*/

$primary-color: #e51515;
$secondary-color: #14151a;
$light-color: #fefefe;

/*---------------GENERAL SETTINGS---------------*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


body{
    background: url(https://wallpapercave.com/wp/wp3157716.jpg);
}


ul{
    list-style: none;
}

img{
    width: 100%;
}




  /*-------------BUTTONS---------------*/
.btn {
    background-color: $light-color;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    letter-spacing: 2px;
    transition: all .5s;
  
    &:hover {
        background-color: $primary-color;
        color: $light-color;
    }
  }


 /*-------------SEARCH BUTTON------------*/

.container{
        max-width: 140rem;
        margin: 0 auto;
        width: 80%;
        border-bottom: 2px solid $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14vh;
      
       .search-button{

              input[type="search"], button[type="submit"] {
                border: none;
                background-color: transparent;
                color: $primary-color;
              }
        
              input[type="search"] {
                border-bottom: 1px solid $primary-color;
                padding: .5rem;
             
              }
        
              button[type="submit"] {
                margin-left: -5rem;
         
              }  

              .search-icon{
 
                color: $primary-color;
                font-size: 1.1em;
            }
        }}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;


  .list{
    display:flex;
    flex-wrap:wrap;
    
    .item{
      margin:10px;
      height:210px;
      border:5px solid #aaa;

      img{
        width:100%;
      }
    }
  }
}


@keyframes loading {
  to {
    transform:rotate(360deg);
  }
}